@charset "utf-8";

/*
File: styles.css
Author: Nick Jocius
Description: Basic global styles for Udundi Test Project

1. Global

    1.1 General
    1.2 Typography
    1.3 Backgrounds

2. Text Box
    2.1 Text
    2.2 Title
    2.3 Hr

3. Buttons
    3.1 Explore
    3.2 Close btn

4. Media Queries

*/

/*------Global------*/

:root {
  --bg-red: #611818;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

nav {
  min-width: 100%;
}

/*------1.1 General------*/
.Home {
  background: no-repeat right / cover
    url("./assets/images/Coding-Challenge-Image.png");
  min-height: 100vh;
}

.ColorCol {
  min-height: 100vh;
}

.TitleCont {
  min-height: 100vh;
}

.SolidCol {
  background-color: var(--bg-red);
}

.TitlePos {
  min-width: 100%;
  margin-left: -17rem;
}

.opaque {
  opacity: 0;
}

#Card {
  margin-left: -17rem;
}

.hidden {
  display: none !important;
}

/*------1.2 Typography-----*/

.Title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: clamp(14rem, -0.875rem + 8.333vw, 38rem);
  letter-spacing: 0.8rem;
}

.redText {
  color: var(--bg-red);
}

#cardTitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: clamp(2rem, -0.875rem + 8.333vw, 4rem);
  font-weight: 600;
}

/*-----1.3 Backgrounds-----*/

.redGradient {
  background: rgb(97, 24, 24);
  background: -moz-linear-gradient(
    140deg,
    rgba(97, 24, 24, 1) 29%,
    rgba(145, 97, 69, 0.9780287114845938) 59%,
    rgba(191, 127, 90, 0.9248074229691877) 87%
  );
  background: -webkit-linear-gradient(
    140deg,
    rgba(97, 24, 24, 1) 29%,
    rgba(145, 97, 69, 0.9780287114845938) 59%,
    rgba(191, 127, 90, 0.9248074229691877) 87%
  );
  background: linear-gradient(
    140deg,
    rgba(97, 24, 24, 1) 29%,
    rgba(145, 97, 69, 0.9780287114845938) 59%,
    rgba(191, 127, 90, 0.9248074229691877) 87%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#611818",endColorstr="#bf7f5a",GradientType=1);
}

/*-------2.3 Hr------*/

.hr1 {
  height: 3px !important;
  border: none;
  background: rgb(97, 24, 24);
  background: -moz-linear-gradient(
    140deg,
    rgba(97, 24, 24, 1) 29%,
    rgba(145, 97, 69, 0.9780287114845938) 59%,
    rgba(191, 127, 90, 0.623) 87%
  );
  background: -webkit-linear-gradient(
    140deg,
    rgba(97, 24, 24, 1) 29%,
    rgba(145, 97, 69, 0.9780287114845938) 59%,
    rgba(191, 127, 90, 0.623) 87%
  );
  background: linear-gradient(
    140deg,
    rgba(97, 24, 24, 1) 29%,
    rgba(145, 97, 69, 0.9780287114845938) 59%,
    rgba(191, 127, 90, 0.623) 87%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#611818",endColorstr="#bf7f5a",GradientType=1);
}

/*------3.1 Explore------*/
#exploreBtn {
  z-index: 999;
}

.card-text {
  height: 55%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*------3.2 Close btn-----*/
.btn-close {
  color: #611818 !important;
}

.btn-close:hover {
  color: #611818 !important;
}

/*-----Media queries-----*/
@media screen and (max-width: 990px) {
  #cardCont {
    justify-content: end !important;
  }

  #Explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: end;
    padding-left: 12rem;
    min-width: fit-content;
    max-width: 100%;
  }

  #Card {
    margin-left: 50px;
  }
  .Title {
    font-size: clamp(6rem, -0.875rem + 8.333vw, 20rem);
  }
}

@media screen and (max-width: 575px) {
  #Explore {
    padding-left: 11rem;
  }
  .Title {
    font-size: clamp(4rem, -0.875rem + 8.333vw, 10rem);
  }

  .card-text {
    font-size: clamp(0.75rem, -0.875rem + 8.333vw, 1rem);
    margin-bottom: 20px !important;
    height: 75%;
  }

  .card-body a {
    width: 100% !important;
  }

  #Card {
    max-width: 100vw;
    margin-left: 5rem;
    margin: auto;
    min-height: 100vh;
  }
}
